body {
    font-family: Arial, sans-serif;
    background: url('https://img.freepik.com/premium-vector/padlock-with-keyhole-icon-personal-data-security-illustrates-cyber-data-information-privacy-idea-blue-color-abstract-hi-speed-internet-technology_542466-600.jpg?semt=ais_hybrid') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}
#loginForm{
    margin: auto;
}

form {
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 16px;
}

input::placeholder {
    color: #ddd;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff7b00;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff9800;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* background-color: #d5caca; */
    width: 100%;
}
/* Loader Animation */
.loader {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(0, 0, 0, 0.2);
    border-right: 6px solid #3498db;
    border-left: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite, glow 0.5s alternate-reverse infinite  ;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow {
    0% { box-shadow: 1px 0 5px rgba(52, 152, 219, 0.5); }
    100% { box-shadow: 0 0 30px rgba(52, 152, 219, 1); }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
}