#parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    gap: 20px;
    padding: 20px;
}
.box{
    width: 250px;
    height: 300px;
    border: 1px solid gray;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
#title-add{
    height: 100px;
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 1px solid greenyellow;
}
input{
    width: 50%;
    padding: 10px;
}
#btn{
    padding: 10px;
    
}