.header-nav{
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.ant-tag>a{
    margin: 0px 20px;
    text-decoration: none;
    color: aqua;
}

.ant-tag>a:hover{
    color: yellow;
    padding-left: 5px;
}

.search-container{
    background: #fff;
    align-items: center;
}

#search-bar{
    width: 85%;
    border-color: #fff;
    box-sizing: border-box;
}

.search-container>.fa-solid{
    margin: 0;
    height: 10px;
    background-color: #fff;
    border: none;
    color: #000000;
    align-items: center;
}

#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}