body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: aqua;
}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cart {
    margin: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
}

#cart th, #cart td {
    border: 1px solid #0a0a0a;
    padding: 10px;
    text-align: center;
}

#cart th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}
.product{
    border: 1px solid #0b0b0b;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #0d3116;
}